* {
	margin: 0;
	border: 0;
	padding: 0;
}

* li {
	list-style: none;
}

body {
	background-color: #817981;
	text-align: center;
}

.container {
	background-color: darkgray;
	width: 640px;
	height: 480px;
	position: relative;
	margin: 30px;
	background-image: url('../img/menu_background.png');
	display: inline-block;

	-webkit-box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 12px rgba(50, 50, 50, 0.75);
box-shadow:         0px 3px 12px rgba(50, 50, 50, 0.75);
}

dt, dd {
	display: inline;
}

#mute {
	cursor: pointer;
	font-weight: bold;
}

.songs {
	margin-top: 20px;
}

.song-list-item {
	margin-bottom: 20px;
	cursor: pointer;
}

.song-list-item, small, p, #mute, #song-credits li{
	font-family: helvetica, arial, sans-serif;
}

.main-menu img {
	position: absolute;
	left: 75px;
	top: 40px;
}

.main-menu ul {
	padding-top: 220px;
}

.game-text {
	font-size: 34px;
	color: #f29372;
}

.menu li {
	text-align: center;
	color: #817981;
	font-size: 26px;
	cursor: pointer;
}

.menu .selected {
	color :#f29372;
	font-size: 44px;
}

.song canvas{
	position: absolute;
	top: 0; left: 0;
	background-image: url('../img/background.png');
}

.song .paused, .menu li, .game-text, .action, #status, h2 {
	font-family: 'Galindo', cursive;
}

#score-text, #combo-text {
	color: green;
	position: absolute;
	z-index: 100;
	font-size: 30px;
}

#score-text, #combo-text {
	color: #669f7d;
}

#score-text {
	top: 50px;
}

#combo-text {
	top: 50px;
}

#ready, #go, #pause, #game-over, #clear {}

 .center {
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
}

#pause, #game-over, #ready, #go, #status, #clear {
	top: 180px;
}

#go, #clear, #pause, #game-over, #status, .action {
	display: none;
}

.choctopus {
	background-image: url('../img/choctopus_splash.png');
	background-color: #603913;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.action {
	position: absolute;
	z-index: 1000;
	top: 382px;
}

.action {
	background-image: url('../img/marker_hit.png');
	width: 66px;
	height: 42px;
	padding-top: 26px
}

#forked {
	left: 42px;
}

#pushed {
	left: 142px;
}

#pulled {
	left: 242px;
}

#cloned {
	left: 342px;
}

#status {
	font-size: 40px;
}

.flyin {
  -webkit-animation: flyin 0.25s ease forwards;
     -moz-animation: flyin 0.25s ease forwards;
       -o-animation: flyin 0.25s ease forwards;
          animation: flyin 0.25s ease forwards;

  opacity: 0;
  -webkit-transform: scale(2);
  -webkit-filter: blur(4px);
}

@-webkit-keyframes flyin {
   to { 
     -webkit-filter: blur(0);
     -webkit-transform: scale(1);
     opacity: 1;
   }
}